**/node_modules
**/.env
.git
.dockerignore
Dockerfile
README.md
Poster.png

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Các thư mục không cần thiết cho ứng dụng web (nếu web app không gọi đến)
# docs/
# test/
# blockchain/